body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    padding: 8px;
    background: rgb(241, 246, 231);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.extra-info {
  margin: 0 !important;
  line-height: 1.4;
  flex-basis: 100%;
  white-space: pre-line;
}

button {
  margin-left: auto;
  cursor: pointer;
  border: none;
  background: #629cdb;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
}

button:hover {
  background: #0056b3;
}